/***
Login page
***/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana !important;
}
/****
    DialogBox
*/
.simple-modal {
  padding: 0 !important;
  border: 1px solid #727272;
}
.simple-modal .ui-dialog-titlebar {
  display: none !important;
}
.simple-modal #simpleDialog {
  padding: 0 !important;
}
.simple-modal #simpleDialog .portlet {
  margin-bottom: 0; 
  border: 0 !important;
}
.simple-modal .ui-dialog-buttonpane {
  margin-top: 0 !important;
}
#usingIE a {
  /*color:#056e8b !important;*/
  color: #275eba !important;
  text-decoration: underline;
}
.rmsBtn {
  min-width: 40px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-style: none !important;
  margin-top: 0;
  height: 30px !important;
  color: #fff !important;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 30px;
  padding: 0 !important;
  cursor: pointer;
  font-size: 12px !important;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #95a5a6 !important;
  margin-left: 5px;
}
.updateManagerPWclass .portlet-title {
  background-color: #ffa500 !important;
}
.updateManagerPWclass .ui-dialog-buttonpane {
  border-top: 2px solid #ffa500;
}
.updateManagerPWclass .ui-dialog-buttonset button {
  padding: 7px 20px;
  min-width: 70px;
}
.updateManagerPWclass input[type='password'] {
  padding-left: 10px !important;
}
/***
    Validation Messages
    ***/
.validation-summary-errors {
  font-style: italic;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 90px;
  text-align: center;
  padding-bottom: 20px;
  font-size: 12px;
}
.field-validation-error {
  font-weight: bold;
  color: red;
  display: block;
}
/**
    Custom
    **/
.blueText {
  color: #056e8b !important;
  font-size: 12px;
  font-weight: 600;
  line-height: 35px;
}
.redText {
  color: #AB0608 !important;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.message-login {
  color: white;
}
.bordertop {
  border-top: 1px solid lightgrey;
  padding-top: 10px;
}
.loginTrainingForm {
  margin-top: 20px;
}
.margin-right {
  margin-right: 5px;
}
/* logo page */
.login {
  background-color: #666 !important;
}
.login .logo {
  /*DW - RNP-5230*/
  /*margin: 60px auto 20px auto;*/
  margin: 9% auto 20px auto;
  padding: 15px;
  text-align: center;
}
.login .logo img {
  width: 250px;
}
.login .content {
  /*background: url(../img/bg-white-lock.png) repeat;*/
  background: url(../../Images/Shared/bg-white-lock.png) repeat;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
.login .content h3 {
  color: #eee;
}
.login .content h4 {
  color: #eee;
}
.login .content p,
.login .content label {
  color: #fff;
}
.login .content .login-form,
.login .content .forget-form {
  padding: 0px;
  margin: 0px;
}
.login .content .form-control {
  background-color: #fff;
}
.login .content .forget-form {
  display: none;
}
.login .content .register-form {
  display: none;
}
.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}
.login .content .form-actions {
  background-color: transparent;
  clear: both;
  border: 0px;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}
.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}
.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}
.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
}
.login .content .form-actions .btn {
  margin-top: 1px;
}
.login .content .forget-password {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 25px;
}
.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}
.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}
/* select2 dropdowns */
.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top: 1px;
  margin: 4px 4px 0px -1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}
.login .content .has-error .select2-container i {
  color: #b94a48;
}
.login .content .select2-container a span {
  font-size: 13px;
}
.login .content .select2-container a span img {
  margin-left: 4px;
}
/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #eee;
  font-size: 13px;
}
.input-icon > i {
  z-index: 1 !important;
}
.rms-login-chkbox input {
  margin-left: 0 !important;
  margin-right: 5px !important;
}
@media (max-height: 750px) {
  .login .logo {
    /*DW - RNP-5230*/
    /*margin: 60px auto 20px auto !important;*/
    margin: 2% auto 20px auto !important;
  }
}
@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top: 10px;
  }
  .login .logo img {
    width: 100%;
    height: auto;
  }
  .login .content {
    padding: 30px;
    width: 100%;
  }
  .login .content h3 {
    font-size: 22px;
  }
  .login .checkbox {
    font-size: 13px;
  }
}
#loaderGif {
  position: fixed;
  height: 60px;
  width: 60px;
  left: -webkit-calc(50% - 30px) !important;
  left: -moz-calc(50% - 30px) !important;
  left: -o-calc(50% - 30px) !important;
  left: calc(50% - 30px) !important;
  top: -webkit-calc(50% - 30px) !important;
  top: -moz-calc(50% - 30px) !important;
  top: -o-calc(50% - 30px) !important;
  top: calc(50% - 30px) !important;
}
#loaderGif img {
  float: left;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=LoginSoft.css.map */