/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
/*  font: inherit;*/
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,p,span,em,strong,div,li,h1,h2,h3,h4,h5,form,input,textarea,select {
    font-family:'Open Sans',sans-serif;
    font-size:14px;
    line-height:1.25em;
}

.clrfx {
    height:0px;
    content:""; 
    display:table; 
    clear:both;
}

.alr {
    text-align:right;
}

.alc {
    text-align:center;
}


/** content styles **/
body {
    padding:0px;
    margin:0px;
    background:#fff;
}

.container {
    padding-left:0px;
    padding-right:0px;
}

.body-content {
    background:#fff;
}

.header {
    background:#1e1f24;
    height:100px;
}

.header > ul {
    height:100px;
}

.header > ul > li {
    height:100px;
    padding:0px;
}


.logo {
    height:80px;
    width:80px;
    background:#fff;
    overflow:hidden;
    display:block;

    border-radius:40px;
}

.logo img {
    display:block;
}

h1 {
    color:#fff;
    font-family:'Open Sans', sans-serif;
    font-weight:400;
    font-size:1.70em;
    text-align:center;
}

h4 {
    font-size:1em;
    color:#9a9a9a;
    font-family:'Open Sans', sans-serif;
    font-weight:300;
    font-style:italic;
    text-align:center;
}

h4 .highlight {
    color:#d9d9d9;
}

.dates > ul > li {
    background:#e8e8e9;
}

.dates .arrive {
    text-align:right;
}

.icon {
    display:inline-block;
    height:16px;
    width:16px;
    overflow:hidden;
    position:relative;
}

.icon22 {
    height:22px;
    width:22px;
}

.icon22 b {
    height:22px;
    width:22px;
}

.icon36 {
    height:36px;
    width:36px;
}

.icon36 b {
    height:36px;
    width:36px;
}

.icon b {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background-color:transparent;
    background-position:top left;
    background-repeat:no-repeat;
}

.icon .arrive {
    background-image:url(../images/icon-arrive.png);
}

.icon .depart {
    background-image:url(../images/icon-depart.png);
}

.icon .profile {
    background-image:url(../images/icon-profile.png);
}

.icon .next {
    background-image:url(../images/icon-next.png);
}

.icon .prev {
    background-image:url(../images/icon-prev.png);
}

/* Small devices (tablets, 768px and up) */
/*@media (min-width: 768px) {*/
    html {
        background:url(../images/bg.jpg) no-repeat center center fixed transparent;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    body > .container {
        top:50%;
        left:50%;
        margin-left:-350px;
        position:absolute;

        width:700px;
        overflow:visible;
    }

    .body-content {
        width:700px;
        -webkit-box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.5);
    }

    .logo-container {
        position:absolute;
        padding:0px 15px;
        margin-left:15px;
    }

    .logo {
        margin-top:10px;
    }

    h1 {
        padding-top:25px;
        padding-bottom:5px;
    }

    .dates, .dates > ul > li {
        height:70px;
    }

    .dates > ul > li {
        width:349px;
        border-right:1px solid #fff;
        float:left;
    }

    .dates > ul > li:last-child {
        border-right:0px none;
        width:350px;
    }

    .dates div > p > span {
        line-height:16px;
        vertical-align:text-top;
    }

    .dates div > p {
        width:100px;
        text-align:center;
    }

    .dates div {
        padding-top:15px;
    }

    .dates .arrive {
        float:right;
        padding-right:75px;
    }

    .dates .depart {
        padding-left:75px;
    }

    .container form {
        padding:30px 90px;
    }

    fieldset {
        width:260px;
        margin-bottom:10px;
        display:block;
        float:left;
        text-align:left;
    }

    fieldset.wide {
        width:520px;
    }

    fieldset .field {
        display:block;
        font-size:1.15em;
    }

    fieldset .field .label {
        font-weight:400;
        font-size:inherit;
        color:#717479;
    }

    fieldset .field span {
        cursor: text;
        padding: 14px 11px;
        pointer-events: none;
        position: absolute;
        vertical-align: middle;
        z-index: 1;
        color:#a5a5a5;
    }

    fieldset .field .input {
        text-align:left;
        border:1px solid #dbdee4;
        padding:5px 10px;
        width:228px;
        height:38px;
        color:#717479;
    }

    fieldset .field select.input {
        padding:5px 10px;
        height:50px;
    }

    fieldset .field .input.error {
        border-color:#d73e3e;
    }

    fieldset .checkbox .input,
    fieldset.wide .checkbox .input {
        height:15px !important;
        width:15px !important;
        display:inline-block;
    }

    fieldset .signature .input,
    fieldset.wide .signature .input {
        height:125px;
    }

    fieldset .checkbox .label {
        display:inline-block;
        margin-left:15px;
        width:auto;
    }

    fieldset .field span,
    fieldset .field .input {
        font-weight:300;
        font-size:inherit;
        line-height: 1.15em;
    }

    fieldset.wide .field .input {
        font-size:inherit;
        width:498px;
    }

    fieldset .field .input.tac {
        padding:10px 15px;
        height:65px;
        width:218px;
    }

    fieldset.wide .field .input.tac {
        width:488px;
    }

    fieldset.small {
        width:130px;
    }

    fieldset.small .field .input {
        width:98px;
    }

    form .step {
        display:none;
    }

    form .step.current {
        display:block;
    }

    .button {
        border-radius:30px;
        -moz-border-radius:30px;
        -webkit-border-radius:30px;
        border-color:#fff;
        border-width:1px;
        border-style:solid;
        cursor:pointer;
    }

    .button > * {
        display:inline-block;
        vertical-align:middle;
    }

    .button.profile {
        margin-top:10px;
        border-color:#dedede;
        color:#717479;
        font-weight:300;
        width:auto;
        display:inline-block;
        padding:15px;
    }

    .button.profile:hover {
        box-shadow:0px 0px 3px rgba(30,30,30,0.05);
    }
    
    .form-action-row > div {
        display:none;
    }

    .form-action-row .current {
        display:block;
    }

    .container .form-action-row {
        margin-top:15px;
        text-align:center;
    }

    .container .form-action-row .button {
        padding:10px;
        display:inline-block;
        min-width:150px;
        border-color:#fff;
        color:#fff;
        border-width:2px;
        margin:0px 25px;
    }

    .container .form-action-row .button:hover {
        background:rgba(255,255,255,0.4);
        cursor:pointer;
    }

    .container .form-action-row .button.nextstep strong {
        padding-left:25px;
        padding-right:25px;
    }

/*}

@media (max-width: 768px) {
    body > .container {
       position:relative;
       margin-top:0px !important;
    }
}*/


    .terms{
        width: 520px;
    }

    input[type=checkbox] {
     margin-left: 10px;
        /* All browsers except webkit*/
      transform: scale(1.5);
     /* Webkit browsers*/
      -webkit-transform: scale(1.5);
     }

    .buttonOLD{
        margin-top: 20px;
        width: 120px;
        height: 50px;
         border-radius:30px;
        -moz-border-radius:30px;
        -webkit-border-radius:30px;
        border-color:#ccc;
        border-width:1px;
        border-style:solid;
        cursor:pointer;
    }   

    .submitLink {
        background-color: transparent;
        text-decoration: underline;
        border: none;
        cursor: pointer;
        color: #9A9A9A;
        font-style: italic;
    }

    input[type=submit] {
      background-color: transparent;
      font-family: "Open Sans",sans-serif;
      font-size: 14px;
      line-height: 1.25em;
      font-weight: bold;
      height: 60px;
      width: 174px;
     
     }

    .container h4 form {
        padding: 0 0;
    }

    span.red {
        background: red;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 5px;
        text-align: center;
        width: 1.6em;
        font-style: normal;
    }

    span.green {
        background: #5EA226;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 5px;
        text-align: center;
        width: 1.6em;
        font-style: normal;
    }

    .header a {
        padding-left: 10px;
        color:#9A9A9A;
    }

    #signForm {
        margin-top: 5px;
    }

}

